body {
	text-align: center;
	font-size: 18px;
}
ul {
	display: block;
}
ul li {
	list-style: none;
	display: inline-block;
	padding: 5px;
}
ul li button {
	color: red;
    text-transform: capitalize;
    text-decoration: underline;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
ul li::after {
	clear: both;
}